//selectors that are mainly connected to fonts/typography

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden; // animation unknown shaking bug hack-fix - always set it in the parent element of where animation is
  margin-bottom: 6rem;

  &--main {
    display: block; //because span element is inline element, and we want to be on 2 separate lines
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: moveInLeft 2s ease-out; //call of the animation keyframes --- animeName / animeDuration / animeBehavior/Function

    /*
        animation-delay: 3s;
         animation-iteration-count: 3;
        */

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block; // span element is inline element
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation: moveInRight 2s ease-in;

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; //for the bckg-img to use the width as much as text does
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  ); //for the       gradient inside the fonts
  -webkit-background-clip: text; // putting the gradient behind the text with this, background gets cliped exactly where the text is
  color: transparent; // allowing the gradient to show from behind the text
  letter-spacing: 0.2rem;
  transition: all 0.2s; // to smooth the transform animation from down there
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.05); // moving effect
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.4); // x-axis y-axis blur rgba(color, opacity);
  }

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(tab-port) {//always the phone media-query after tablet
    font-size: 2.5rem;
  }
}
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
